.main-heading {
  text-align: center;
  background: #1d2671;
  @include main;
  font-size: map-get($font-sizes, primary);
  color: $primary;

  & :hover {
    color: green;
  };
  span {
    color: red;
  };
};
.h-heading {
  margin-top: 50px;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
}
h1 {
  font-family: "Inter", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  font-size: 60px;
};
.h-heading {
  color: #fbb03b;
};
.h-heading {
  border-top: 1px solid rgb(207, 202, 202);
  border-bottom: 2px solid rgb(207, 202, 202);
  border-bottom-style: dashed;
  padding-top: 20px;
  padding-bottom: 20px;
};
.h1-res {
  font-size: 30px;
  text-decoration: underline;
  padding-left: 20px;
  font-family: "Inter", sans-serif;
  color: orangered;
  padding-top: 20px;
};
.page-para-data {
  color: black;
  font-size: 19px;
  font-family: "Roboto Mono", monospace;
  padding-left: 30px;
  line-height: 35px;
};
.para-data-top {
  padding-top: 30px;
};
.para-data-bottom {
  padding-bottom: 25px;
};
li {
  color: black;
  font-size: 19px;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  padding-bottom: 20px;
  line-height: 30px;
};
.span-cl {
  background: rgb(207, 202, 202);
  color: rgb(219, 94, 112);
};
.img-html {
  width: 800px;
};
.bottom-nav {
  display: flex;
  justify-content: right;
  position: fixed;
  right: 0;
  bottom: 0;
};
#nav-icon {
  width: 50px;
  padding: 4px;
  z-index: 99;
};
.bottom-home {
  display: flex;
  justify-content: right;
  position: absolute;
  bottom: 0;
  right: 0;
};
#nav-home {
  width: 50px;
  padding: 4px;
  z-index: 99;
};
#nav-download {
  width: 20px;
  padding: 0px;
};
.download {
  color: #dd2476;
};
.ref:visited {
  color: purple;

  &:hover {
    color: darkgreen;
  }
}
.ref {
  color: green;
};
.ref:active {
  color: red;
};
.forum {
  font-size: 20px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  background: #1d2671;
  color: white;
  border-bottom: solid;

  &:hover {
  border-bottom: 10px solid rgb(207, 202, 202);
  };
};
.forum-para {
    font-size: 13px;
};
.style {
  color: rgb(62, 62, 131);
};
.li-ex {
  background: whitesmoke;
  color: blue;
  list-style: none;
};
.ul-ex {
  border: 15px solid darkcyan;
  border-style: ridge;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
};
// in page 4 ul lists
.li-ex1 {
  font-family: "Roboto Mono", monospace;
}
.page-images {
  display: flex;
  justify-content: center;
  align-items: center;
};
.pgm {
  width: 400px;
  height: 500px;
};
.link-to-other-pages {
  display: flex;
  flex-direction: column;
};
// example design in html4
.link-cl {
  display: block;
  color: red;
  background: rgb(44, 44, 83);
  margin-left: 30px;
  padding: 10px;
  width: 50%;
};
// additional style some links document in html4 
.link-cl1 {
  margin-top: 20px;
}
// style to links detail color in html4
.link-data1 {
  color: blue;
  text-decoration: underline;
};
.link-data2 {
  color: purple;
  text-decoration: underline;
};
.link-data3 {
  color: red;
  text-decoration: underline;
};
// for vallue of attribute in the html4 page
.target {
  color: rgb(224, 224, 43);
  background: rgb(20, 20, 77);
};
.h4-heading {
  margin-top: 30px;
  font-size:20px;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  padding-bottom: 20px;
};
@media  screen and (max-width: 951px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  };
  h1 {
    font-size: 40px;
  };
  .h-heading {
    padding-left: 0px;
    font-size: 25px;
    text-align: center;
  };
  .img-html {
    width: 350px;
  };
  .page-para-data {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
  };
  li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
  };
  .bottom-nav {
    display: flex;
    flex-direction: column;
  };
  #nav-icon {
    width: 40px;
  };
  #nav-home {
    width: 40px;
  };
  .page-images {
  display: flex;
  flex-direction: column;
  };
  // page image size
  .pgm {
  width: 300px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  };
  .pgm {
    height: 450px;
  };
  .ul-ex {
    margin-bottom: 5px;
  };
  .link-cl {
    display: block;
    color: red;
    background: rgb(44, 44, 83);
    margin-left: 0px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
};
};
@media  screen and (min-width: 920px) {
  .ul-ex {
    width: 500px;
  };
}