.main-heading {
  text-align: center;
  background: white;
  @include main;
  font-size: map-get($font-sizes, primary);
  color: $primary;

  & :hover {
    color: green;
  };
  span {
    color: red;
  };
};
.h-heading {
  font-size: 60px;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
}
h1 {
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  font-size: 60px;
};
.h-heading {
  color: black;
};
.h-heading {
  font-size: 50px;
  border-top: 1px solid rgb(207, 202, 202);
  border-bottom: 1px solid rgb(207, 202, 202);
  padding-top: 20px;
  padding-bottom: 20px;
};
.page-para-data {
  color: black;
  font-size: 19px;
  font-family: "Roboto Mono", monospace;
  padding-left: 30px;
  line-height: 35px;
};
.para-data-top {
  padding-top: 50px;
};
.para-data-bottom {
  padding-bottom: 50px;
}
li {
  color: black;
  font-size: 19px;
  font-family: "Roboto Mono", monospace;
  padding-left: 30px;
  padding-bottom: 20px;
  line-height: 30px;
};
.span-cl {
  background: rgb(207, 202, 202);
  color: rgb(219, 94, 112);
};
.img-html {
  width: 800px;
};
.bottom-nav {
  display: flex;
  justify-content: right;
  position: fixed;
  right: 0;
  bottom: 0;
};
#nav-icon {
  width: 60px;
  padding: 4px;
  z-index: 99;
};
.bottom-home {
  display: flex;
  justify-content: right;
  position: absolute;
  bottom: 0;
  right: 0;
};
#nav-icon {
  width: 60px;
  padding: 4px;
  z-index: 99;
};
#nav-home {
  width: 60px;
  padding: 4px;
  z-index: 99;
};
@media  screen and (max-width: 951px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  };
  h1 {
    font-size: 40px;
  }
  .h-heading {
    padding-left: 0px;
    font-size: 25px;
    text-align: center;
  }
  .img-html {
    width: 350px;
  };
  .page-para-data {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
  };
  li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
  };
  #nav-icon {
    width: 50px;
  };
  #nav-home {
    width: 50px;
  };
}