body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }

  main {
    padding: 20px;
  }

  .movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .movie {
    width: 300px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .movie img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .movie-info {
    padding: 15px;
  }

  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
   /* Styles for the modal */
   #myModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #888;
    z-index: 1;
  }

  /* Close button style */
  #closeBtn {
    color: #888;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  #downbt {
  display: inline-block;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;

  &:hover{
      background: rgba(0,118,255,0.9);
      box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
  }
}