@import "./scss/padding";
@import "./scss/font-size";
@import "./scss/color";
@import "./scss/page1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};
// main page
.contant-data {
    background-color: rgb(40,42,53);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 18.75rem;
    padding-right: 18.75rem;
    padding-top: 18.125rem; 
};
.meta-heading {
    background: white;
    @include main;
    font-size: map-get($font-sizes, primary);
    color: $primary;
    padding-top: 0.625rem;
    position: fixed;
    width: 100%;

    & :hover {
        color: green;
    };
    span {
        color: red;
    };
};
.meta-data {
    background-color: rgb(40,42,53);
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
};
.img {
    background: whitesmoke;
    border-radius: 10px
};
#ex {
    color: black;
    padding-top: 50px;
    text-align: left;
    padding-left: 1.25rem;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
};
.words {
    text-align: center;
    align-items: center;
    justify-content: center;
};
.img1 {
    padding-right: 1.25rem;
};
a {
    text-decoration: none;
};
#lea {
    color: white;
};
#tut {
    color: black;
};
.learn {
    background: $primary;
    margin-top: 1.875rem;
    width: 12.5rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    border-radius: 1.5625rem;
};
.learn1:hover {
        background: rgb(4,130,80);
};
.learn2:hover {
    background: rgb(250, 234, 116);
};
.video {
    background: $secondary;
    color: black;
    margin-top: 1.875rem;
    width: 12.5rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    border-radius: 1.5625rem;
};
#heading {
    font-size: 100px;
    font-family: 'Inter', sans-serif;
};
.p0 {
    font-family: 'Roboto Mono', monospace;
    padding-top: 0.625rem;
    padding-left: 0px;
    color: white;
};
img {
    @include body;
    width: 31.25rem;
};
.temp {
    color:black;
    text-align: right;
};
@media  screen and (max-width: 951px){
    * {
        margin: 0;
        padding: 0;
    };
    .meta-data {
        width: 100%;
    };
    .contant-data {
    width: inherit;
    background-color: rgb(40,42,53);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1.875rem; 
    padding-left: 0px;
    padding-right: 0px;
};
.meta-heading {
    position: static;
    font-size: 1.25rem;
};
#heading {
    font-size: 3.125rem;
};
.sections {
    margin: 0px;
};
.p0 {
    font-size: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
};
.learn {
    width: 13.75rem;
    margin-top: 1.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
};
#lea {
    font-size: 0.9375;
};
#tut {
    font-size: 0.9375;
};
.video {
    width: 13.75rem;
    margin-top: 1.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
};
.words {
    padding-bottom: 0.625rem;
};
.img {
    margin-top: 1.25rem;
    width: 20rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 1.25rem;
};
#ex {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
};
.temp-meta {
    display: none;
};
.img1 {
    width: 18.75rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
};
.footer {
    display: none;
};
}