@import "./scss/padding";
@import "./scss/font-size";
@import "./scss/color";
@import "./scss/page1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};
// main page
.contant-data {
    background-color: rgb(40,42,53);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    padding-top: 290px; 
};
.meta-heading {
    background: white;
    @include main;
    font-size: map-get($font-sizes, primary);
    color: $primary;
    padding-top: 10px;
    position: fixed;
    width: 100%;

    & :hover {
        color: green;
    };
    span {
        color: red;
    };
};
.meta-data {
    background-color: rgb(40,42,53);
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
};
.img {
    background: whitesmoke;
    border-radius: 10px
};
#ex {
    color: black;
    padding-top: 50px;
    text-align: left;
    padding-left: 20px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
};
.words {
    text-align: center;
    align-items: center;
    justify-content: center;
};
.img1 {
    padding-right: 20px;
}
a {
    text-decoration: none;
};
#lea {
    color: white;
};
#tut {
    color: black;
};
.learn {
    background: $primary;
    margin-top: 30px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
};
.learn1:hover {
        background: rgb(4,130,80);
};
.learn2:hover {
    background: rgb(250, 234, 116);
};
.video {
    background: $secondary;
    color: black;
    margin-top: 30px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
};
#heading {
    font-size: 100px;
    font-family: 'Inter', sans-serif;
};
.p0 {
    font-family: 'Roboto Mono', monospace;
    padding-top: 10px;
    color: white;
};
img {
    @include body;
    width: 500px;
};
.temp {
    color:black;
    text-align: right;
};
@media  screen and (max-width: 951px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    };
    .contant-data {
    background-color: rgb(40,42,53);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 50px; 
};
.contant-data {
    max-width: 80%;
}
.meta-heading {
    position: static;
}
.words {
    padding-bottom: 10px;
};
.temp-meta {
    display: none;
};
.img1 {
    width: 500px;
};
}