@import "./scss/padding";
@import "./scss/font-size";
@import "./scss/color";
* {
    margin: 0;
    padding: 0;
}
.main-heading {
    @include main;
    font-size: map-get($font-sizes, primary);
    text-align: center;
    color: $primary;

    & :hover {
        color: green;
    }
    span {
        color: red;
    };
}
.nav-heading {
    background-color: rgb(40,42,53);
    color: white;
    letter-spacing: 2px;

    & :hover {
    border-bottom: 8px solid green;
    }
}
#nav-style {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
};
.sec-heading {
    @include body;
};
.p1 {
    font-family: 'Inter', sans-serif;
    @include body;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
};
.p2 {
    font-family: 'Roboto Mono', monospace;
    @include body;
    font-size: 19px;
};
.pg-span {
    background-color: rgb(240,240,240);
    color: rgb(224,113,125);
};
.p3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
};
ul {
    font-family: 'Roboto Mono', monospace;
    padding-left: 39px;
    font-size: 19px;
};
li {
    padding-top: 5px;
    padding-bottom: 5px;
}
img {
    @include body;
    width: 700px;
};
.red-arrow {
    background-color: rgb(240,240,240);
    color: rgb(224,113,125);
};
#p4 {
    @include body;
    font-family: 'Bebas Neue', cursive;
    opacity: 0.5;
    text-align: center;
};
.foot-heading {
    color: $primary;
    text-align: center;

    & :hover {
        color: green
    }
};
#foot-span {
    color: red;
}