body{background:#c8f0d1;margin-top:20rem;margin-bottom:20;margin-left:20rem;margin-right:20rem}

article{text-align:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}

article{border-radius:5rem;background:#dcf0ef}

/* .text{ font: weight 800;font-family:'Bebas Neue', cursive;font-family:'Raleway', sans-serif} */

h2 {
    font-size: 2rem;
}

p {
    font-size: 18px;
}

span {
    font-size: 20px;
    font-weight: bolder;
}

/* .love{text-align:right;font-family:'Dancing Script', cursive;-webkit-transition:5s;transition:5s}

#loveT{color:red}#loveT:hover{color:black} */

button {
    display: inline-block;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    margin-bottom: 20px;
  }

img{height:350px;width:290px;display:-webkit-box;display:-ms-flexbox;display:flex}

@media screen and (min-width: 300px){
  
  /* .text{font-size:1rem;font-family:'Bebas Neue', cursive;font-family:'Raleway', sans-serif} */
  
  /* .love{text-align:center;font-family:'Dancing Script', cursive} */
  
  body{margin-top:9rem;margin-bottom:9rem;margin-left:1rem;margin-right:1rem}
  
  article{border-radius:2rem;padding:2rem 2rem 2rem 2rem}#loveT{color:red}#loveT:hover{color:black}
  
  img{height:230px;width:170px;display:inline;-webkit-box-align:center;-ms-flex-align:center;align-items:center}}
